{%- style -%}
    .productGrid_wrapper.{{ section.id }} {
      padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
      padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
    }

    @media screen and (min-width: 750px) {
      .productGrid_wrapper.{{ section.id }} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom }}px;
      }
    }
    @media (max-width:991px) {
      .productGrid_wrapper.{{ section.id }}  {
          padding-top: 40px;
          padding-bottom: 23.74px;
      }
  }
{%- endstyle -%}

<div class="productGrid_wrapper {{ section.id }}">
  <div class="overlaydiv"></div>
  <div class="product_Grid_container">
    {% if section.settings.product_heading != blank %}
      <div class="productGrid_header">
        <h2>{{ section.settings.product_heading }}</h2>
      </div>
    {% endif %}
    <div class="productGrid_row">
      {% for block in section.blocks %}
        {% assign productGrid = all_products[block.settings.productId] %}
        <div class="productGrid_col" {{ block.shopify_attributes }}>
          <div class="productGrid_box">
            <div class="productGridImage">
              <img
                src="{{ productGrid.featured_image | img_url: 'master' }}"
                alt="{{ productGrid.title }}"
                loading="lazy"
                width=""
                height=""
              >
            </div>

            <div
              class="hotspot_box"
              style="top: {{ block.settings.dot_position_y }}%; left: {{ block.settings.dot_position_x }}%;"
            >
              <span class="hotspot-dot">
                {% render 'popupIcon' %}
              </span>

              <!-- Popup -->
              <div class="hotspot-popup productInfomation" smallPopUPId="{{ productGrid.id }}">
                <div class="hotspot-popup-inner">
                  <img
                    src="{{ productGrid.featured_image | img_url: '100x100' }}"
                    alt="{{ productGrid.title }}"
                    width=""
                    height=""
                  >
                  <div class="popup-content">
                    <p class="popup-title">{{ productGrid.title }}</p>
                    <p class="popup-price">{{ productGrid.price | money }}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          {% comment %} product Information POpUP {% endcomment %}
          <div class="productInformation_popup_wrapper hidden_popup" matchedpopupId="{{ productGrid.id }}">
            <div class="product_details">
              <div class="cross">{% render 'cross' %}</div>
              <div class="product_infor_grid">
                <div class="productInforImage">
                  <div class="proImage">
                    <img
                      src="{{ productGrid.featured_image | img_url: 'master' }}"
                      alt="{{ productGrid.title }}"
                      loading="lazy"
                      width=""
                      height=""
                    >
                  </div>
                </div>
                <div class="productDescription">
                  <div class="product_des_title">
                    <h2>{{ productGrid.title }}</h2>
                    <h3>{{ productGrid.price | money_with_currency }}</h3>
                    {% if productGrid.description != blank %}
                      <p>{{ productGrid.description }}</p>
                    {% endif %}
                  </div>
                </div>
              </div>
              {% comment %} hidden variant Code {% endcomment %}
              <div class="variant_box hidden">
                {% for variant in productGrid.variants %}
                  <p
                    variantId="{{ variant.id }}"
                    variantTitle="{{variant.title }}"
                  >
                    {{ variant.title }}
                  </p>
                {% endfor %}
              </div>

              {% comment %} Always show Color first, then Size {% endcomment %}
              <div class="option_box">
                {%- assign color_option = null -%}
                {%- assign size_option = null -%}

                {%- for option in productGrid.options_with_values -%}
                  {%- if option.name == 'Color' or option.name == 'Colour' -%}
                    {%- assign color_option = option -%}
                  {%- elsif option.name == 'Size' -%}
                    {%- assign size_option = option -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if color_option -%}
                  <div class="color-options">
                    <h2>{{ color_option.name }}</h2>
                    <div class="option-grid-row">
                      {% for value in color_option.values %}
                        <div
                          class="option_color"
                          VariantColorId="{{ productGrid.variants.first.id }}"
                          OptionColorName="{{ value }}"
                        >
                          <span
                            class="divider"
                            style="background-color: {{ value | downcase }};"
                          ></span>

                          {{ value }}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                {%- endif -%}

                {%- if size_option -%}
                  <div class="size-option">
                    <h2>{{ size_option.name }}</h2>
                    <div class="select-wrapper">
                      <select class="option_selection">
                        <option value="" disabled selected>Choose your size</option>
                        {% for value in size_option.values %}
                          <option
                            value="{{ value | escape }}"
                            index="{{ forloop.index }}"
                            VariantColorId="{{ productGrid.variant.id }}"
                            optionSizeName="{{ value }}"
                            class="sizeOption"
                          >
                            {{ value }}
                          </option>
                        {% endfor %}
                      </select>
                    </div>
                  </div>
                {%- endif -%}
              </div>

              <button class="add_cartId">Add To Cart {%render 'left_arrow' %}</button>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "PopUp ProductGrid",
  "class": "popup-productGrid",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "product_heading",
      "label": "Product Heading",
      "default": "Tisso vison in the wild"
    },
    {
      "type": "header",
      "content": "Section Padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Top",
      "default": 90
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "px",
      "label": "Padding Bottom",
      "default": 51
    }
  ],
  "blocks": [
    {
      "type": "productGrid",
      "name": "Product Grid",
      "settings": [
        {
          "type": "product",
          "id": "productId",
          "label": "Add Product"
        },
        {
          "type": "range",
          "id": "dot_position_x",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Position X (Left)",
          "default": 50
        },
        {
          "type": "range",
          "id": "dot_position_y",
          "min": 0,
          "max": 100,
          "step": 1,
          "unit": "%",
          "label": "Dot Position Y (Top)",
          "default": 50
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "PopUp ProductGrid",
      "category": "Product"
    }
  ]
}
{% endschema %}
